/* Required asterisk */
.required-asterisk{
   color: #fa8a02;
   font-size: 16px;
   vertical-align: top;
   margin-left: 2px;
}

/* Password Toggler */
.password-component-container{
   position: relative;
   width: 100%;
}

.password-component-container input[type="password"],
.password-component-container input[type="type"]{
   width: 100%;
   display: block;
   padding-right: 40px !important;
   box-sizing: border-box;
}

.toggle-password{
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;
   z-index: 10;
   color: #888;
   transition: color .2s ease-in-out;
}

.fa-eye-slash {
   color: #09f;
}

.input-error{
   outline: 1px solid #ff0000 !important;
}

.button-inline{
   display: inline-block;
   width: auto;
}
.button-block{
   display: block;
   width: 100%;
   max-width: 100%;
}
.video-container .video-content{
   aspect-ratio: 16/9;
   border-radius: 12px;
   border: none;
   overflow: hidden;
}
.video-container .video-content iframe{
   width: 100%;
   height: 100%;
   background-color: var(--grey-color-2);
   border: none;
   overflow: hidden;
}
.video-container .short-content{
   --header-offset: 113px;
   --horizontal-padding: 30px;

   --max-height-calc: calc((100vh - var(--header-offset)) * 0.5625);
   --max-width-calc: calc(100vw - var(--horizontal-padding) * 2);
}
.video-container .short-content iframe{
   background-color: var(--grey-color-2);
   display: flex;
   margin-right: auto;
   margin-left: auto;
   width: min(var(--max-height-calc), var(--max-width-calc));
   height: calc(100vh - var(--header-offset));
   min-height: 480px;
   min-width: 280px;
   border-radius: 12px;
   border: none;
   overflow: hidden;
   touch-action: manipulation;
}

/* CSS Editor */
.css-editor{
   position: fixed;
   display: none;
   top: 50%;
   left: 50%;
   z-index: 1000;
   user-select: none;
   background-color: #010e31;
   color: #faf8f8;
   border-radius: 12px;
   overflow: hidden;

   & style{
      display: inline-block;
      min-height: 300px;
      min-width: 300px;
      margin-top: 40px;
      padding: 30px;
      resize: auto;
      overflow: auto;
      white-space: pre-wrap;
      outline: none;
      text-align: start;
      font-size: 14px;
      cursor: text;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
}

.css-editor .css-editor-draggable{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 40px;
   width: 100%;
   cursor: pointer;
   color: #d4d3d3;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid #d4d3d3;
}

.css-editor.active{
   display: block;
}

#toggle-editor{
   position: fixed;
   top: 50%;
   left: 10px;
   transform: translateY(-50%);
   height: 30px;
   width: 30px;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: center;

   & i{
      text-align: center;
      line-height: 1;
   }
}